body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

.contenedor {
    border: 1px solid blue;
    background-color: #ccc;
    padding: 10px;
    display: flex;
    width: 80%;
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
}

.caja {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
}

.caja1 {
    background-color: aquamarine;
}

.caja2 {
    background-color: yellow;
}

.caja3 {
    background-color: lightcoral;
}

.caja4 {
    background-color: lightblue;
}