body {
    font-family: Cascadia Code;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    height: 90vh;
}

body h1 {
    font-family: Cascadia Code;
    font-weight: lighter;
}

.calculadora {
    background-color: beige;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #c0c0c0;
    font-family: Cascadia Code;
    font-size: small;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: lightcoral;
    border: 2px solid aqua;
    transform: scale(1.1);
}

.resultado {
    margin-top: 20px;
    font-size: x-large;
    transition: all 0.2s;
    border: 2px solid black;
    border-radius: 200px;
}

.resultado:hover {
    color: lightcoral;
}