h1 {
    font-family: Cascadia Code;
    font-weight: lighter;
    font-size: xx-large;
}


.container  {

    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.container > div {
    border: 2px solid black;
    background-color: lightcoral;
}


.n1 {

    grid-row: 1 / 4;

}
.n2 {

    grid-column: 2/5;

}
.n3 {
    grid-row: 2/4;
}

.n5 {
    grid-column: 4/5;
    grid-row: 2/4
}
.n6 {
    
}


